@charset "UTF-8";

/* ==== General Styles ==== */


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden; /* Prevents body overflow */
}

/* ==== Main containers ==== */

.page-container {
	max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 80vh;
    margin-top: 60px; /* To prevent content from being hidden under the header */
}


/* ==== Sidebar container ==== */

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed; /* Keep sidebar fixed on the left */
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

.sidebar-title-container {
    margin-bottom: 20px;
}

.sidebar-buttons-container {
    display: flex;
    flex-direction: column;
}

.sidebar-btn {
    background-color: #3cbfab;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar-btn:hover {
    background-color: #2f9384;
}

.sidebar h2 {
    font-size: 20px;
}

/* ==== Profile container ==== */

.title-container {
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: left; 
    margin-bottom: 0;
}

.white-container {
    background-color: white;
    width: 100%;
    max-height: 80vh;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    overflow-y: auto; /* Allows scroll within the white container */
}

.profile-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #e0e0e0; /* Border colour */
}

.profile-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.label-subtitle {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
}

.label {
    flex: 1;
    font-size: 16px;
    color: #6e6e6e;
}

/* Text box information */
.info {
    flex: 2;
    text-align: center;
    font-size: 16px;
    width: 70;
}

.change-btn {
    background-color: #3cbfab;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.change-btn:hover {
    background-color: #2f9384;
}

h1 {
    font-size: 24px;
    margin-left: 20px;
}

h2 {
    font-size: 20px;
    margin: 20px 0;
    text-align: left; 
    margin-left: 20px; 
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

/* ==== Return Button ==== */

.return-btn-container {
    text-align: center;
    margin-top: 20px;
}

.return-btn {
    background-color: transparent;
    color: #3cbfab;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20;
    
}

 /* ==== Cart section ==== */

 .cart-items {
   flex: 1;
   margin-right: 20px;
   padding: 20px;
   background-color: white;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   overflow-y: auto;
 }

 .cart-items h2 {
   margin-bottom: 20px;
 }

 .cart-item {
   display: flex;
   justify-content: space-between;
   padding: 10px;
   border-bottom: 1px solid #eee;
 }

/* Removes the <hr> extra line for last item on the list. */
 .cart-item:last-child {
   border-bottom: none;
 }

 .item-details {
   display: flex;
 }

 .item-details img {
   width: 75px;
   height: 75px;
   object-fit: cover;
   margin-right: 15px;
 }

 .item-details div {
   display: flex;
   flex-direction: column;
 }

 .item-details .item-name {
   font-weight: bold;
 }

 .item-details .item-price {
   color: #777;
 }

 .item-quantity {
   display: flex;
   align-items: center;
   gap: 15px;
 }

 .item-quantity input {
   width: 40px;
   text-align: center;
   padding: 5px;
   margin-left: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 
 .error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}


